<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/xplain2me?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.transaction.auto_close_session">true</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.cache.use_second_level_cache">false</property>
    <property name="hibernate.cache.use_query_cache">false</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.connection.autocommit">false</property>
    <property name="hibernate.connection.pool_size">1</property>
    <property name="hibernate.use_sql_comments">true</property>
    <property name="hibernate.connection.release_mode">auto</property>
    <mapping class="za.co.emergelets.xplain2me.entity.AcademicLevel"/>
    <mapping class="za.co.emergelets.xplain2me.entity.AcademicLevelsTutoredBefore"/>
    <mapping class="za.co.emergelets.xplain2me.entity.AppClient"/>
    <mapping class="za.co.emergelets.xplain2me.entity.Audit"/>
    <mapping class="za.co.emergelets.xplain2me.entity.BecomeTutorRequest"/>
    <mapping class="za.co.emergelets.xplain2me.entity.BecomeTutorSupportingDocument"/>
    <mapping class="za.co.emergelets.xplain2me.entity.Citizenship"/>
    <mapping class="za.co.emergelets.xplain2me.entity.ContactDetail"/>
    <mapping class="za.co.emergelets.xplain2me.entity.Event"/>
    <mapping class="za.co.emergelets.xplain2me.entity.Gender"/>
    <mapping class="za.co.emergelets.xplain2me.entity.MenuCategory"/>
    <mapping class="za.co.emergelets.xplain2me.entity.Person"/>
    <mapping class="za.co.emergelets.xplain2me.entity.PhysicalAddress"/>
    <mapping class="za.co.emergelets.xplain2me.entity.Profile"/>
    <mapping class="za.co.emergelets.xplain2me.entity.ProfileType"/>
    <mapping class="za.co.emergelets.xplain2me.entity.Province"/>
    <mapping class="za.co.emergelets.xplain2me.entity.Subject"/>
    <mapping class="za.co.emergelets.xplain2me.entity.TutorRequest"/>
    <mapping class="za.co.emergelets.xplain2me.entity.TutorRequestSubject"/>
    <mapping class="za.co.emergelets.xplain2me.entity.User"/>
    <mapping class="za.co.emergelets.xplain2me.entity.UserRole"/>
    <mapping class="za.co.emergelets.xplain2me.entity.UserRolePermission"/>
    <mapping class="za.co.emergelets.xplain2me.entity.UserSalt"/>
  </session-factory>
</hibernate-configuration>
