**/target/**
**/lib/**
**/.idea/**
*.iml
nb-configuration.xml
/Xplain2MeTutoring/xplain2me_email_templates/nbproject/private/
/Xplain2MeTutoring/xplain2me-web-app/target/
/DavidAndDavis/david-and-davis-web-app/target/