/* 
    Created on : 05 Aug 2014, 8:56:46 PM
    Author     : Tsepo Maleka - Emerge Software (Pty) Ltd.
*/

 #apDiv1 {
    position: absolute;
    width: 257px;
    height: 261px;
    z-index: 1;
    left: 253px;
    top: 565px;
}

.wrapper {
    width: 900px;
}

.post {

    float: left;
    margin: 10px;
    padding: 5px;
    width: 200px;
    height: fit-content;

}

#myMarquee {
    padding: 8px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
}
